.welcome-heading {
    font-size: 32px; /* Tamaño de fuente */
    color: #007bff; /* Color de texto */
    text-align: center; /* Alineación del texto al centro */
    margin-top: 30px; /* Espacio superior */
  }